@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
body {
  font-family: "Poppins", sans-serif;
}

.role-animation {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  font-weight: 500;
  animation: slide 5.5s ease-in-out infinite;
}

.image-zoom-animation {
  animation: image-zoom 25.5s ease infinite;
}

.page-change-animation {
  animation: page-change 1s ease-in-out;
}

.bg-boxes {
  position: relative;
  height: 100%;
}

.bg-boxes li:nth-child(even) {
  position: absolute;
  list-style: none;
  display: block;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, .1);
  bottom: -250px;
  animation: bg-box 50s infinite;
  transition-timing-function: linear;
}

.bg-boxes li:nth-child(odd) {
  animation: bg-box2 45s infinite;
}

.relative .dot {
  @apply w-3 h-3 rounded-full absolute top-1 -left-10 z-10;
}

.side-option-animation {
  animation: page-change 0.5s ease-in-out;
}

.self-animation {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: page-change;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
}

.detailed-info-animation {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: page-change;
  animation-duration: 0.5s;
  animation-delay: 0.4s;
}

@keyframes slide {
  0% {
    transform: translateX(-300px)
  }

  5% {
    transform: translateX(5px)
  }

  10% {
    transform: translateX(0)
  }

  85% {
    transform: translateY(0)
  }

  95% {
    transform: translateX(-15px)
  }

  100% {
    transform: translateX(300px)
  }
}

@keyframes image-zoom {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.1)
  }

  100% {
    transform: scale(1)
  }
}

@keyframes page-change {
  0% {
    opacity: 0;
    transform: translateX(-900px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bg-box {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1500px) rotate(600deg);
  }
}

@keyframes bg-box2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1500px) rotate(300deg);
  }
}

.hover-effect {
  transition: all 0.3s ease-in-out;
}